.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 50px 195px 0;
  margin: auto;
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 221px 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .elements {
    grid-template-columns: repeat(1, 1fr);
    padding: 50px 18px 0;
    width: 280px;
  }
}
