.footer__name {
  color: gray;
  padding-bottom: 60px;
  padding-left: 193px;
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .footer__name {
    padding-left: 185px;
  }
}
@media screen and (min-width: 320px) and (max-width: 544px) {
  .footer__name {
    padding-left: 86px;
  }
}
