.header {
  padding-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
  height: 74px;
  border-bottom: 1px solid #c4c4c454;
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .header {
    width: 573px;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .header {
    width: 373px;
    margin: auto;
    padding: 50px 52px 0;
  }
}
