.header {
  margin: auto;
  padding-top: 35px;
  max-width: 880px;
  height: 74px;
  border-bottom: 1px solid #c4c4c454;
  margin: auto;
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .header {
    max-width: 780px;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .header {
    max-width: 350px;
  }
}
