.header {
  padding-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
  height: 74px;
  border-bottom: 1px solid #c4c4c454;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .header {
    margin: auto;
    padding: 50px 45px 0;
  }
}
